.task {
    background-color: #2f2f2f;
    padding: 0.5em 2em;
    margin-bottom: 1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.task>h3 {
    width: -webkit-fill-available;
}

.task>button {
    margin: 0 1em;
}

.completed {
    color: #7f7f7f;
}

/* .task > * {
    margin-left: 1em !important;
    margin-right: 1em !important;
} */

/* .task> :nth-child(2) {
    margin-left: auto;
    margin-right: 2em;
} */

.completed> :first-child {
    text-decoration: line-through;
}