.todo {
    padding: 0;
}

.hidden {
    display: none;
}

.no-lists-message {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #8f8f8f;
}

.add-list-button {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .todo {
        padding: 2em;
    }
}