.todo {
    padding: 2em;
}

.hidden {
    display: none;
}

.no-lists-message {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #8f8f8f;
}

.add-list-button {
    width: 100%;
}