@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    border-radius: 2em;
}

::-webkit-scrollbar {
    width: 0.75em;
    background-color: #5f5f5f;
}

::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: #3f3f3f;
}

html {
    background-color: #2f2f2f;
    color: white;

    font-family: 'Poppins', sans-serif;
}

a:any-link {
    color: #5f5f5f;
}

a:any-link:hover {
    color: #8f8f8f;
}

label {
    font-size: 0.7em;
}

button,
input,
select {
    background-color: #2f2f2f;
    color: white;

    font-family: inherit;

    border: 2px solid currentColor;
    padding: 0.5em 1em;
    margin-bottom: 1em;

    min-width: fit-content;
    width: auto;
    min-height: 4em;
    height: fit-content;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

button[color-scheme="filled"],
input[color-scheme="filled"],
select[color-scheme="filled"] {
    color: #2f2f2f;
    background-color: white;
    border: none;
}

button[color-scheme="text"],
input[color-scheme="text"],
select[color-scheme="text"] {
    color: white;
    background-color: transparent;
    border: none;
    padding: 1em 2em;
}

button[color-scheme="filled_destructive"],
input[color-scheme="filled_destructive"],
select[color-scheme="filled_destructive"] {
    color: white;
    background-color: #8f1818;
    border: none;
}

button[color-scheme="outlined_destructive"],
input[color-scheme="outlined_destructive"],
select[color-scheme="outlined_destructive"] {
    color: #8f1818;
}

button[color-scheme="text_destructive"],
input[color-scheme="text_destructive"],
select[color-scheme="text_destructive"] {
    color: #8f1818;
    background-color: transparent;
    border: none;
}

button>*,
input>*,
select>* {
    margin: 0.5em;
}

::-webkit-calendar-picker-indicator {
    filter: invert(100%);
    /* Makes it white */
}